Makefile
metadata.json
icons
nuvola-app-bbc-iplayer
eu.tiliado.NuvolaAppBbcIplayer.desktop
bbc_iplayer.tar.gz
eu.tiliado.NuvolaAppBbcIplayer.appdata.xml
eu.tiliado.NuvolaAppBbcIplayer.data.service
eu.tiliado.WebRuntimeAppBbcIplayer.desktop
eu.tiliado.WebRuntimeAppBbcIplayer.service
nuvola-app-bbc-iplayer.metainfo.xml
screenshots/
/screenshots/
eu.tiliado.NuvolaAppBbcIplayer.service
eu.tiliado.WebRuntimeAppBbcIplayer.appdata.xml
